DATABASE_URL="postgresql://user:password@host/dbname?sslmode=require"
NEXTAUTH_SECRET="your-secret-key"
NEXTAUTH_URL="http://localhost:3000"
ADMIN_EMAIL="admin@industryneed.in"
ADMIN_PASSWORD="your-admin-password"
NEXT_PUBLIC_WHATSAPP_BUSINESS_PHONE="919999999999"
